header{
  background-color: #363636;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 280px;
  padding-right: 280px;

}
header > div{
  display: flex;
  justify-content: space-between;
}
header nav{
  display: flex;
  align-items: center;
}
header nav a{
  margin: 15px;
  font-size: 15px;
  color: white;
  font-family: "Calibri";
  text-decoration: none;
}
header nav .lastlink{
  color: yellow;
}
.active{
  background-color: #1E6C91;
  padding: 8px;
  border-radius: 3px;
}
#OPLogo{
  height: 50px
}
#bgimage{
  background-image: url(https://www.optimal-partners.com/site_images/ourServicesHeader.jpg);
  text-align: center;
  padding: 60px 0;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
}
h1{
  color: white;
  font-family: "Calibri";
  font-size: 60px;
}
#section1{
  text-align: center;
  background-color: white;
  padding: 60px 0;
}
h2{
  color: #107698;
  font-family: "Calibri";
  font-size: 54px;
}
#section1 p{
  color: #737373;
  font-family:"Calibri";
  font-size: 25px;
  width: 1000px;
  margin: auto;
  line-height: normal;
}
.section2{
  text-align: center;
  background-color: #edeff3;
  padding: 60px 0;
  margin: auto;
}
.section2 p.para{
  color: black;
  font-family:"Calibri";
  font-size: 25px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  line-height: normal;
}
h3{
  color: #282828;
  font-family: "Calibri";
  font-size: 54px;
}

.table{
  display: flex;
  gap: 15px;
  margin-top: 32px ;
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
}
.table article{
  max-width: 260px;
  background-color: white;
  box-shadow: 0px -2px 5px 0px rgb(0 0 0 / 30%);

}
.table article h4{
  background-color: #107698;
  color: white;
  padding: 0 16px;
  min-height: 110px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Calibri";
  border-bottom: solid #EDEFF3 8px;
}
.table article p{
  text-align: left;
  font-size: 14px;
  color: #A8969E;
  font-family: "Calibri";
  line-height: normal;
  padding: 25px;
  line-height: normal;
}

.section3{
  text-align: center;
  background-color: white;
  padding: 60px 0;
  margin: auto;
}
.section3 p{
  color: #a8969e;
  font-family:"Calibri";
  font-size: 15px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  line-height: normal;
}
h5{
  color: #107698;
  font-family: "Calibri";
  font-size: 30px;
}
.group2{
  display: flex;
  gap: 15px;
  margin-top: 32px ;
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
}
.group2 article{
  max-width: 350px;
  background-color: white;
}
.group2 article h6{
  color: #107698;
  padding: 0 1px;
  min-height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Calibri";
  border-bottom: solid orange 2px;
  max-width: 300px;
  margin:auto;
}
.group2 article p{
  text-align: center;
  font-size: 13px;
  color: #A8969E;
  font-family: "Calibri";
  line-height: normal;
  padding: 25px;
  line-height: normal;
}

.group3{
  display: flex;
  gap: 15px;
  margin-top: 32px ;
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
}
.group3 article{
  max-width: 350px;
  background-color: white;
}
.group3 article h7{
  color: #107698;
  padding: 0 1px;
  min-height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Calibri";
  border-bottom: solid orange 2px;
  max-width: 300px;
  margin:auto;
}
.group3 article p{
  text-align: center;
  font-size: 13px;
  color: #A8969E;
  font-family: "Calibri";
  line-height: normal;
  padding: 25px;
  line-height: normal;
}

.section4{
  text-align: center;
  background-color: #edeff3;
  padding: 60px 0;
  margin: auto;
}
.section4 p.para2{
  color: black;
  font-family:"Calibri";
  font-size: 15px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  line-height: normal;
}
h8{
  color: #282828;
  font-family: "Calibri";
  font-size: 30px;
}
.table{
  display: flex;
  gap: 30px;
  margin-top: 32px ;
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
}
.table article{
  max-width: 360px;
  background-color: white;
  box-shadow: 0px -2px 5px 0px rgb(0 0 0 / 30%);

}
.table article h9{
  background-color: #107698;
  color: white;
  padding: 0 16px;
  min-height: 110px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Calibri";
  border-bottom: solid #EDEFF3 8px;
}
.table article p{
  text-align: left;
  font-size: 14px;
  color: #A8969E;
  font-family: "Calibri";
  line-height: normal;
  padding: 25px;
  line-height: normal;
}

.section5{
  text-align: center;
  background-color: #edeff3;
  padding: 60px 0;
  margin: auto;
}
footer{
  background-color: #404040;
  padding: 30px;
  text-align: center;
  font-family:"Calibri";
  font-size: 15px;
  color: #A6A6A6;
  line-height: normal;
}
#smallBox {
  height: 270px;
}

.vServices #getInTouch h2 {
  color: #0a465b;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  padding: 5px 0px 30px 0px;
}

.vServices .container {
  margin: 0 162px;
  display: inline-block;
  padding-bottom: 40px;
}

.vServices .container .contactUs {
  display: inline-block;
}

.vServices .container .hover {
  display: inline-block;
  margin-left: 50px;
  margin-top: 20px;
}

#contactpic {
  border-radius: 50%;
  border: 8px solid rgba(253, 181, 48, .7);
  margin-left: 130px;
  position: relative;
  left: 30px;
  bottom: 140px;
}

#happytohelp {
  color: grey;
  font-weight: 500;
  border-top: 1px solid #107698;
  border-bottom: 1px solid #107698;
  width: 260px;
  padding: 10px 0px;
  text-align: center;
  line-height: 1.4;
  display: inline-block;
  margin-top: 16px;
  position: relative;
  bottom: 90px;
  right: 190px;
}

.contactUs #separationLine {
  position: absolute;
  top: 2850px;
  right: 830px;
  height: 25%;
}



.connectContainer #linkedin.png, #twitter,png, #facebook.png{
  border: 5px solid #dfdfe0;
  border-radius: 50%;
  margin: 0 12px;
  height: 5%;

}
